spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/rbacdb
    username: postgres
    password: Avnish@2020
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

  kafka:
    bootstrap-servers: localhost:9092

server:
  port: 8080

app:
  jwt:
    secret: ewdwedwedwwewdwerwrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrqrqrqdssdfsfsgerwwrwfwef
    expiration-ms: 3600000
